
  .bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.300)), url(https://wallpapers.com/images/featured/hyderabad-pd7aiqkre3jjsu57.jpg);
    padding: 380px;
    background-size:cover;
    background-repeat: no-repeat;

  }

  pre {
    position:absolute;
    display: inline;
    margin: 50px;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body{
    padding: 0%;
    margin: 0%;

  }
section{

    align-content: center;
    

}
table{
  border: 0px outset rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  
  
  
}

td{
  border: 3px outset rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 15px black ;
  font-size:larger;
  text-align: center;
  font-family: luminari,cursive;
  background-color: white;

}

td:hover{
  background-color: rgba(222, 222, 255, 0.685);
  
}



  footer{
    font-size: large;
    color: azure;
    background-color: rgba(31, 31, 31, 0.97);
    padding: 80px 50px; 

  }

  footer h2{
    margin: 0% auto;
    padding: 0;
    font-size: 40px;
    
  }
  footer a{
    color: azure;
    text-decoration: none;
    
  }
  footer p{
    margin-top: 100px;
    display: inline;
  }